EIBVoice/MessagesDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DBRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Category">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Record">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Phrase" type="xs:string" />
                    <xs:element name="EIBTelegram">
                      <xs:complexType>
                        <xs:sequence>
                          <!--<xs:element name="MessageControl" type="xs:unsignedByte" />
                          <xs:element name="SourceAddress" type="xs:string" />-->
                          <xs:element name="DestinationAddress" type="xs:string" />
                          <xs:element name="TCPI" type="xs:unsignedByte" />
                          <xs:element name="APCI" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>